[2020-08-25 02:33] Patamap opened #4 "Developer Workflow/Moja Global GitHub workflow best practices"
Purpose to add this subcontopic below,
1. How to make a new GitHub repository
-  Repository creation
- Configure repository
- Set up useful labels
- Set up continuous integration (CI)
- Set up a testing framework?
2. How to maintain a GitHub repository. Refer to https://docs.google.com/document/d/1Yxyu9rfrRc94s3e3lhKFjmcOnudsqrs-fqxYsSJ9QAc/edit#heading=h.oiyve2t0iwuz
- Update issue and pull reque

[2020-08-26 01:40] Tlazypanda commented on #4
Hey @Patamap thanks for the wonderful breakdown :tada:
Just noting here what's in-progress for now with links

- Reviewing pull requests https://moja-global-documentation.readthedocs.io/en/latest/DeveloperWorkflow/reviewing.html
- Making pull request https://moja-global-documentation.readthedocs.io/en/latest/DevelopmentSetup/git_and_github_guide.html
- Code contribution best practices (contains wr

[2020-09-02 02:30] Patamap opened #13 "Updated Communicating about development in readmedoc (after GitHub workflow best practices)"
Communication about development should be kept public as much as possible in our slack chat. Whenever you make a new pull request, always share the link in the main slack chat room. This lets other developers know you made a change and also gives them an opportunity to review your code. And if you want a code review, be sure to ask for it too.

[2020-09-05 10:23] abhineet97 opened #14 "Consider renaming to docs.moja.global"
Hi, @Tlazypanda.

The presence of _readthedocs.io_ at the end already implies the nature of the website, so the "documentation" part in the current name --- _moja-global-documentation_.readthedocs.io --- seems unnecessary.

What are your thoughts on using _moja-global_.readthedocs.io, instead?

[2020-09-07 05:25] Tlazypanda opened #16 "Code Style and conventions"
**What does the current documentation state?**
The current documentation doesn't provide the code style and conventions to be followed for different repositories.

**Why do you want to improve the statement?**
We can improve this by adding some style conventions and tools that the contributor can enforce to ensure maintenance of the code in the long run.

Currently only for C++, Python

[2020-09-10 12:08] gmajan commented on #14
@abhi211199 Thank you for this suggestion. I think we can consider it after we have completed the documentation as we do not want to lose time now with downloading and uploading the documentation. We can do that when we have less time pressure. Would you agree?
I also think that not everybody might understand that readthedocs is the documentation. So I will cautiously check with a few non-coders w

[2020-09-14 05:43] #16 closed

[2020-09-22 22:59] aornugent opened #19 "Order of Contributing TOC"
**What does the current documentation state?**
The Contributing section has six sub-topics in the TOC, but many of them are included in the top-level page `contributing/index.html`. If I navigate through the topics using the `Next` button, it jumps from `Ways to contribute to moja global` to the next topic `Github Workflow Best Practices` and skips three sub-topics.

**Where is this stated?**
http

[2020-09-25 07:59] Tlazypanda commented on #19
Hey @aornugent Thanks for reviewing this :tada:  This is a common problem with reST toctree :sweat_smile: I have modified the pull request and drawn these out as separate sections :v: Thank you for your patience with me !!

[2020-10-01 07:58] Tlazypanda commented on #19
Closed via #17

[2020-10-01 07:58] #19 closed

[2020-10-01 08:19] Tlazypanda opened #21 "Add FLINT.example repo setup instructions"
**What does the current documentation state?**
The current documentation contains the FLINT.example setup instructions in under the FLINT.example repository which needs to be added into the readthedocs docs. Apart from this we also need to leave a note to recommend contributors to first setup the FLINT.example before FLINT in order to get an idea of working of FLINT.

[2020-10-03 07:56] Tlazypanda opened #23 "Add Help others contribute section"
**What does the current documentation state?**
The current documentation lacks a section that guides seasoned contributors on the ways they can help new contributors. From the contributors website we want to link the users to this docs for more details on how to Help other contributors take the first step.

**Where is this stated?**
The "learn more" buttons should link to specific sections in read

[2020-10-04 10:17] Tlazypanda opened #25 "Improve join us section"
**What does the current documentation state?**
Currently the join us section contains information about only the student oss programs. We need to add information of our slack workspace and other social handles where the contributors can stay connected with moja global.

[2020-10-05 02:21] Tlazypanda opened #27 "Add writing documentation section"
**What does the current documentation state?**
Currently the documentation has a "how to document your contribution" md file (https://github.com/moja-global/About_moja_global/blob/master/Contributing/How-to-Document-Your-Contribution.md) but it's inside a lot of folder and not accessible at first glance. Also the section doesn't mention the documentation changes for readthedocs and need an overall

[2020-10-06 10:59] #25 closed

[2020-10-06 10:59] #23 closed

[2020-10-09 07:01] Tlazypanda opened #28 "Add automated checks on pull requests section"
**What does the current documentation state?**
Currently the documentation lacks info on the automated checks that will be employed on pull requests (like codeclimate, codecov, github actions etc).

[2020-10-14 07:51] #28 closed

[2020-10-14 08:41] Tlazypanda opened #31 "Add introductory section for Github workflow practices"
**What does the current documentation state?**
Currently the Github workflow best practices index section doesn't have any content and just the links of the subsections. Adding it will provide more clarity to the users as to what the section includes/describes.

[2020-10-16 13:54] #31 closed

[2020-10-18 09:52] #21 closed

[2020-10-18 10:02] Tlazypanda opened #33 "Improve windows installation docs"
**What does the current documentation state?**
Current docs are a bit confusing and don't provide screenshots to help the user navigate through the steps. Improving docs and adding ss can help users install flint and flint.example more smoothly.

[2020-10-24 10:23] Tlazypanda opened #35 "Add technical steering committee meetings and datasets sections."
**What does the current documentation state?**
Currently the docs doesn't have any information on technical steering committee meetings and flint land sector datasets sections. Adding that can be beneficial to the new community members wanting to join moja global.

[2020-10-26 11:47] aornugent commented on #14
Following readthedocs own example `docs.moja.global` would be the most succinct. SEO is important: https://docs.readthedocs.io/en/stable/guides/technical-docs-seo-guide.html

[2020-10-26 15:51] abhineet97 commented on #14
Great suggestion @aornugent. Renaming the issue to incorporate it.

Thanks!

[2020-10-31 02:17] aornugent opened #36 "Add 'copy' button to code blocks"
A really handy feature is a button to copy a code-block from the documentation into the clipboard.

Is it possible or difficult to add this to our `readthedocs` environment? https://sphinx-copybutton.readthedocs.io/en/latest.

This GIF shows how the UI feature helps:

![Example](https://sphinx-copybutton.readthedocs.io/en/latest/_images/copybutton.gif)

I have not looked for alternative options.

[2020-11-06 09:27] #36 closed

[2020-11-08 08:51] aornugent commented on #14
@abhineet97 has helpfully dug out the steps required to configure a custom domain :
- add a `docs.moja.global` CNAME record to the DNS service of `moja.global`
- add the new domain under the `readthedocs.io` Admin panel -> Domains

This would also enable sub-projects (e.g. `docs.moja.global/projects/reporting` or `docs.moja.global/projects/taswira`) in the future.

[1] https://docs.readthedocs.io/

[2020-11-08 10:47] #33 closed

[2020-11-09 12:02] gmajan commented on #14
Thank you Abhineet. Well done.

[2020-11-09 12:06] gmajan commented on #14
The owner of our domain is The Linux Foundation. Shall I connect you to the IT person who can update our DNS? They don't share access to our registrar due to security reasons.

[2020-11-09 17:00] abhineet97 commented on #14
There's only one thing that's required. I think we can get it done in one go without much back and forth.

We need them to add the following record to the domain:
[code]

[2020-11-09 17:54] gmajan commented on #14
I have asked for the lines to be added. I will let you know when it is done.

[2020-11-09 17:56] gmajan commented on #14
I has been added!

[2020-11-12 07:14] Tlazypanda commented on #14
https://docs.moja.global/en/latest/ - Done :heavy_check_mark:

[2020-11-12 07:14] #14 closed

[2020-11-12 07:24] Tlazypanda commented on #35
Closed via #34

[2020-11-12 07:24] #35 closed

[2020-11-12 09:18] Tlazypanda opened #39 "Add GCBM installation documentation"
**What does the current documentation state?**
Add GCBM installation documentation

[2020-11-12 18:09] Tlazypanda opened #40 "Add faqs for installation support"
**What does the current documentation state?**
Currently a lot of folks have been facing issues for installation. Moving them to our read the docs as faqs can help new users significantly in installing FLINT.

[2020-11-13 06:01] #39 closed

[2020-11-17 18:09] #40 closed

[2021-01-16 02:18] aornugent opened #45 "Remove reference to GSoD from README"
Now that our docs site is live (thanks @Tlazypanda!) we should change the README, removing the references to GSoD. Instead it should describe the instructions to deploy, configure and contribute to moja global documentation.

[2021-01-17 13:56] waridrox opened #46 "Improving the copyright section under Read the Docs"
**What does the current documentation state?**
The footer element houses a copyright text stating no name for the organisation. This may look unprofessional to many. Also there is no automatic date updation for the current year.

**Where is this stated?**
This is stated under the official developer [documentation](https://docs.moja.global/en/latest/index.html#moja-global-developer-documentation:~:

[2021-02-24 10:28] HarshCasper opened #49 "Hunting and fixing Dead Links"
**Describe the bug**

Right now the Documentation Site has a lot of dead links that redirect to nowhere. They mostly show the message `404 Not Found` which can create a bad impression for first-time contributors, looking to get started with the project.

**Expected behavior**

They should redirect to an appropriate page on the documentation site or to an appropriate resource.

**Additional context

[2021-02-24 10:29] HarshCasper commented on #49
Hi @aornugent @gmajan @Tlazypanda @shubhamkarande13 👋

Can you please have a look at the same ?

[2021-03-01 11:17] HarshCasper commented on #45
I am working on this 😄

[2021-03-30 18:14] ksocksTR33Z opened #50 "Updated Branding for ReadtheDocs"
moja global has a new brand and visiual style we should apply to ReadtheDocs.

Some support from the team to help update the stylesheet would be great (some directions here: https://docs.readthedocs.io/en/stable/guides/adding-custom-css.html).

Attached are logos, brand assets, and a color palette to use in updating the stylesheet. The font is DM Sans
![Logos_1000x1000pxLogo-w-icon-1](https://user

[2021-03-30 20:21] aornugent commented on #50
@Tlazypanda @waridrox

[2021-03-31 06:55] waridrox commented on #50
Great @ksocksTR33Z 🎉, since RTD theme is _primarily light coloured_, would it be better to go with the light colored moja-global brand identity or the dark one that would better go with the color palette as well...? Tbh, both look great but if there's a preference of one over the other then pls voice your opinioins. Thanks!

<img width="676" alt="Screenshot 2021-03-31 at 12 19 41 PM" src="https://

[2021-03-31 13:14] ksocksTR33Z commented on #50
@waridrox I would suggest that the Earth Green be the base/primary background color with the lighter greens and blues as accent colors for other elements (text, borders/frames, etc.) That's how the majority of the new website will be developed as well.

[2021-04-04 22:24] waridrox commented on #50
I've been very busy lately, sorry about that 😅. How does this stack up against the expectations @ksocksTR33Z ? Is it too distracting for the user ? Pls give an unbiased opinion on the same so that we can further improve upon. Thanks!

<img width="1258" alt="Screenshot 2021-04-05 at 3 48 56 AM" src="https://user-images.githubusercontent.com/58583793/113522897-db92f480-95c1-11eb-8626-b52874b934a9.pn

[2021-04-05 15:39] ksocksTR33Z commented on #50
@waridrox this looks great!

[2021-04-05 16:57] waridrox commented on #50
👍 @ksocksTR33Z, I wanted to draw your attention to the text housing links. Is `marine blue` color for text and links in `midnight green` color fine or do we need to make some tweaking ?

<img width="684" alt="Screenshot 2021-04-05 at 10 16 11 PM" src="https://user-images.githubusercontent.com/58583793/113599664-8952e180-965c-11eb-818d-da38de2a1cdc.png">

[2021-04-09 19:27] ksocksTR33Z commented on #50
@waridrox the main text on the site is MIDNIGHT GREEN. Hyperlinked text is MOSS GREEN. Hope that helps

[2021-05-08 15:42] #50 closed

[2021-06-12 11:07] chicken-biryani commented on #49
Hey, Can I work on this?

[2021-06-25 12:09] #27 closed

[2021-06-25 18:21] shubhamkarande13 commented on #49
Fixed and merged with @chicken-biryani 's PR #53.

[2021-06-25 18:21] #49 closed

[2021-06-28 10:08] sarahhaggarty opened #54 "Missing packages in vcpkg prerequisites page"
**What does the current documentation state?**
In "[vcpkg.rst](https://github.com/moja-global/moja_global_docs/blob/master/docs/prerequisites/vcpkg.rst)" it lists the following command for installing packages for `vcpkg`:

[code]

**Where is this stated?**
In "[vcpkg.rst](https://github.com/moja-global/moja_global_docs/blob/master/docs/prerequisites/vcpkg.rst)"

**Why do you want to improve the st

[2021-06-28 10:11] sarahhaggarty commented on #54
Hi @HarshCasper, I think this would be good to label as a good first issue. What do you think?

[2021-06-28 17:06] HarshCasper commented on #54
Definitely. I have labelled them here. Thanks for suggesting :)

[2021-07-15 09:04] aornugent opened #56 "Rename repo 'docs.moja.global'"
I'd like to return to our standard naming conventions and use `.` instead of `-`. This also reflects the `docs.moja.global` URL, but might require some config changes on ReadTheDocs?

[2021-07-15 09:31] sarahhaggarty opened #57 "Clarify statement about "setting up" FLINT.example before FLINT core"
**What does the current documentation state?**
"It is highly recommended to first setup the FLINT.example repository to get an overview of how FLINT works since the software might seem a bit complex at first sight. The instructions for setting up FLINT.example repository can be found here."

**Where is this stated?**
[DevelopmentSetup/index.rst](https://github.com/moja-global/moja_global_docs/blob

[2021-07-28 14:46] sarahhaggarty opened #59 "Changing navigation flow after Vcpkg installation (Windows installation)"
**What does the current documentation state?**
For readers following the FLINT prerequisites instructions for a Windows installation, after they have completed the Vcpkg installation instructions on [`vcpkg.rst`](https://github.com/moja-global/moja_global_docs/blob/master/docs/prerequisites/vcpkg.rst) the Next button navigates the reader to the Linux installation instructions [`docker.rst`](https:

[2021-07-28 14:48] sarahhaggarty commented on #59
@HarshCasper do you have any experience with changing the navigation flow in Sphinx docs?

[2021-07-28 14:50] chicken-biryani commented on #59
Shall I put up the flow of the videos and documentation under this issue itself?

@sarahhaggarty @shubhamkarande13

[2021-07-28 15:06] sarahhaggarty commented on #59
@chicken-biryani I think it would be better to have a dedicated issue for the work you are doing. As I suspect it will generate quite a bit of discussion :sweat_smile:. Then we can link that issue to this one. Are you OK to open an issue for it? Let me know if you'd like some help with that.

[2021-07-28 15:08] chicken-biryani commented on #59
@sarahhaggarty Haha! Yes! That's going to be a long discussion.

I'll open a new issue.

[2021-07-28 15:26] sarahhaggarty opened #60 "New location for Data Sets subtopic"
**What does the current documentation state?**
In the first steps of setting up the FLINT development environment the documentation introduces the subtopic of Data Sets.

**Where is this stated?**
On FLINT Development Setup page ([`DevelopmentSetup\index.rst`](https://github.com/moja-global/moja_global_docs/blob/master/docs/DevelopmentSetup/index.rst)).

**Why do you want to improve the statement?

[2021-07-28 15:27] sarahhaggarty commented on #60
@aornugent @HarshCasper, can we get your thoughts on the possibilities suggested please?

[2021-07-28 20:52] chicken-biryani opened #61 "Improve the flow and details of the documentation."
_Edit_

## **To do:**

1) Create a flow diagram of the steps shown in the videos:
 - [FLINT Core on Visual Studio 2019](https://www.youtube.com/watch?v=BmHltWrxCTY)
 - [FLINT Example (RothC model) on Visual Studio](https://www.youtube.com/watch?v=Jfi2-vEhfkg&t=4s)
 - [FLINT Example (Chapman Richards model) on Visual Studio](https://www.youtube.com/watch?v=JFTyeZQbPjI&t=1s)

2) Create a flow diagra

[2021-07-28 20:55] shubhamkarande13 commented on #61
You may like to try out [Lucidchart]( https://www.lucidchart.com/pages/). 😄

[2021-07-28 21:30] chicken-biryani commented on #61
Hey, @aornugent and @HarshCasper This was something we thought of.
If you think there's a better way of doing the same, do let us know.

[2021-07-29 00:39] aornugent commented on #61
Awesome! @waridrox has used a Miro board to develop a content map for the community website, or Mermaid.js is a simple way design flowcharts as code.

Excited to see what you come up with!

[2021-07-29 00:40] aornugent commented on #61
Example from community site: https://miro.com/app/board/o9J_lFEkawU=/

[2021-07-29 11:21] aornugent commented on #60
Thanks for the great issue - it's very clear and succinct.

Can we do both?
1. Let's put some very brief instructions in a separate page, with a link to the Land_Sector_Datasets repo, so that it's clear they exist; then
2. develop a section on the community website post describing what datasets are available. @jenkatesmits might be able to help us write a short case study about how the datasets we

[2021-07-30 15:53] sarahhaggarty commented on #59
After doing some googling it might not be possible to make this change using Sphinx but there has been a feature request created for it already: https://github.com/sphinx-doc/sphinx/issues/9024.

[2021-08-03 12:57] sarahhaggarty opened #62 "In FLINT.example, substitute powershell commands for cmd commands"
**What does the current documentation state?**
Launch the Windows Powershell and run the following commands:

[code]

**Where is this stated?**
In [DevelopmentSetup/visual_studio_win_example.rst](https://github.com/moja-global/moja_global_docs/blob/master/docs/DevelopmentSetup/visual_studio_win_example.rst)

**Why do you want to improve the statement?**
In the rest of the documentation and videos

[2021-08-03 13:10] sarahhaggarty opened #63 "Remove download link for explicit CMake version"
**What does the current documentation state?**
"Please download and install Cmake from https://github.com/Kitware/CMake/releases/download/v3.15.2/cmake-3.15.2-win64-x64.msi"

**Where is this stated?**
[Prerequisites/CMake.rst](https://github.com/moja-global/moja_global_docs/blob/master/docs/prerequisites/cmake.rst)

**Why do you want to improve the statement?**
The current statement directs the us

[2021-08-03 13:31] sarahhaggarty opened #64 "Provide recommended directory structure for installation"
**What does the current documentation state?**
N/A

**Where is this stated?**
N/A

**Why do you want to improve the statement?**
Currently all commands for windows platforms are given with reference to the following directory structure: `C:\Development\moja-global`. However this is never formally introduced to the reader. It would be very helpful for readers from a non-developer background to read

[2021-08-04 06:18] Ayush7614 opened #65 "Added workflows auto-labeller.yaml"
Added workflows auto-labeller.yaml
Added github-issue labeller ci

[2021-08-04 06:19] Ayush7614 commented on #61
@chicken-biryani i would like to work on the issue please assign me

[2021-08-04 06:21] Ayush7614 commented on #56
@aornugent i would like to work on the issue please assign me

[2021-08-04 06:22] Ayush7614 commented on #65
@chicken-biryani @aornugent please assign me this issue

[2021-08-04 06:47] Ayush7614 opened #66 "Added contributers in the README section"
Added all the contributors name in the README section

[2021-08-04 09:41] chicken-biryani commented on #61
Hey, @Ayush7614 !

I am glad to see that you're enthusiastic about contributing to moja global! 😄

However, this is an issue I am currently working on.

A good place to get started would be to work on issues that have been labelled as 'good first issue' or 'for new comers'. 🎯

[2021-08-04 21:30] chicken-biryani commented on #64
Ah! A lot of the improvements you're making are required!

I am glad that you're taking care of these things!

[2021-08-05 14:38] sarahhaggarty commented on #57
Resolved as part of #58

[2021-08-05 14:38] #57 closed

[2021-08-05 14:47] sarahhaggarty commented on #61
Hi @Ayush7614, you could also take a look at #62 or #64 and see if you would like to work on either of those 😎 Let me know!

[2021-08-07 15:15] HarshCasper commented on #59
Unfortunately no :disappointed:

[2021-08-13 10:17] #63 closed

[2021-08-14 16:13] Sukriti-sood commented on #54
@sarahhaggarty  @HarshCasper Can I work on this issue?

[2021-08-15 05:45] HarshCasper commented on #54
Please go ahead!

[2021-08-16 11:35] #54 closed

[2021-08-18 13:04] Sukriti-sood opened #69 "Issue forms for the Issue Templates."
Creating Issue Templates using the Issue forms and replacing the markdown files with YAML files.

[2021-08-18 13:06] Sukriti-sood opened #70 "Greeting Bot"
Adding Greeting Bot to the repo which will Greet new contributors and greet everyone on their PR merged.

[2021-08-20 20:01] Apoorve73 opened #71 "Remove repeating words from documentation."
**What does the current documentation state?**
FLINT: the Full Lands INtegration Tool The Full Lands Integration Tool (FLINT) is the flagship software developed by the moja global community.

**Where is this stated?**
Present in the second paragraph, under the heading **Moja Global Documentation**, [here](https://docs.moja.global/en/latest/)

**Why do you want to improve the statement?**
The full

[2021-08-21 04:21] #4 closed

[2021-08-21 10:07] HarshCasper commented on #71
This issue has already been fixed here: https://github.com/moja-global/moja_global_docs/pull/73

[2021-08-21 10:07] #71 closed

[2021-08-22 09:06] HarshCasper opened #76 "Provide documentation on FLINT Architecture"
## Description

Currently, the FLINT Architecture docs are empty. Here is the link to the [placeholder doc](https://github.com/moja-global/moja_global_docs/blob/master/docs/DeveloperWorkflow/flint_architecture.rst).

We would like to ideally document this part so that the new contributors are not confused about how FLINT works.

Refer to this [repository](https://github.com/vidhya001/FLINTwiki) wo

[2021-08-22 09:24] HarshCasper opened #77 "Provide documentation on FLINT Performance"
## Description

Currently, the FLINT Architecture docs are empty. Here is the link to the [placeholder doc](https://github.com/moja-global/moja_global_docs/blob/master/docs/DeveloperWorkflow/flint_performance.rst).

We would like to ideally document this part so that the new contributors are not confused about how FLINT works.

[2021-08-22 12:13] SanjaySinghRajpoot commented on #77
ok is it up for taking? I would like to work on this issue.

[2021-08-22 19:19] #69 closed

[2021-08-22 20:49] chicken-biryani commented on #61
@botmojaglobal claim

[2021-08-22 20:49] chicken-biryani commented on #61
@botmojaglobal claim

[2021-08-23 06:35] Sukriti-sood commented on #76
I would like to work on this issue.

[2021-08-23 09:11] HarshCasper commented on #77
Yes. Please ping me here or on Slack if you need any help.

[2021-08-24 10:13] AnirudhPanda opened #78 "Documentation📄: Full Form of FLINT being repeated"
### What is the current documentation state?

![mg1](https://user-images.githubusercontent.com/66218496/130598666-156ace2e-1ed8-41cb-8613-83b6a3bd2977.PNG)

### Where is this stated?

_No response_

### Why do you want to improve the statement?

The full form of FLINT is repeated twice.

### Proposed Statement

**FLINT** which stands for **F**ull **L**ands **IN**tegration **T**ool

### Additional

[2021-08-24 10:15] AnirudhPanda commented on #78
If this issue is genuine I would like to take it!

[2021-08-24 10:44] shubhamkarande13 commented on #78
Already fixed by @HarshCasper in #73.

[2021-08-24 10:44] #78 closed

[2021-08-26 18:58] shloka-gupta opened #79 "Describe the labels."
### Describe how we are communicating and why it is not optimal.

The labels haven't been described properly. A new contributor may have difficulty understanding what a particular label means.

### Describe the solution you'd like.

A volunteer could coordinate with @HarshCasper and create a table with contents:

Label Name | Description | Colour

Fill it up and then someone from the docs team can

[2021-08-28 04:37] raghavraj-27 commented on #79
I would like to work on it @chicken-biryani Please assign it to me.

[2021-08-28 10:13] raghavraj-27 commented on #79
Thanks @chicken-biryani
I am creating a doc and a table in it and starting to fill the tables with the labels and will complete it with the help of @HarshCasper, once the table get filled completely I'll put up its link here.

@HarshCasper, is that would be okay ?

[2021-08-29 15:00] chicken-biryani commented on #45
@HarshCasper ,
I think this issue can be closed as well.

As PR #73 - Removes outdated information, GSoD references in the ReadMe.

[2021-08-29 15:04] #45 closed

[2021-08-29 15:05] HarshCasper commented on #45
Done.

[2021-08-29 19:07] raghavraj-27 commented on #79
Hey, I found [this](https://docs.google.com/document/d/1Yxyu9rfrRc94s3e3lhKFjmcOnudsqrs-fqxYsSJ9QAc/edit#heading=h.oiyve2t0iwuz) document while digging up.

[2021-08-29 20:24] chicken-biryani commented on #79
Hey, @raghavraj-27 that's really cool. Great job! Gives us a good lead.

However, what I am concerned about:

1) Some labels have the same function.
For example:
The labels documentation and cat = doc, Both deal with documentation.

2) The same labels aren't used across all the repositories/projects. Inconsistency may lead to problems.

So we just need to think about the labels we want and don't w

[2021-08-30 04:12] HarshCasper commented on #79
Hi @raghavraj-27 @chicken-biryani

The purpose of this issue is to make sure that our GitHub issue labelling process is consistent. Right now, we follow vastly different issue label configurations on different projects (take for an example community website and/or FLINT).

Since we have so many repositories, we should come up with a reasonable set of standard labels that are suitable for our needs

[2021-08-30 07:35] HarshCasper commented on #66
Done.

[2021-08-30 07:35] #66 closed

[2021-08-30 13:49] burpcat commented on #61
Hey @chicken-biryani . I'd like to work on this issue. Gimme a go

[2021-08-30 13:53] chicken-biryani commented on #61
@burpcat sure! Go ahead!

If you need any help you can ask us over here or on slack.

Try to keep the discussion as public and transparent as possible, so that everyone is in the loop.

[2021-08-31 10:24] AnirudhPanda opened #89 "Documentation📄: vcpkg section"
### What is the current documentation state?

Addressing an issue I encountered and a suggestion too.

In the https://docs.moja.global/en/latest/prerequisites/vcpkg.html page, unlike the video, it is nowhere mentioned to make a folder named `Development` and inside it `moja global` and then cloning `vcpkg`

As I was following the docs completely it led me to errors like  `Could not find MSBuild ve

[2021-08-31 10:29] chicken-biryani commented on #89
Hey, @AnirudhPanda !

With the help of issue #61 we plan on improving the documentation.

Maybe you and @burpcat can work on #61 together?

[2021-08-31 10:30] AnirudhPanda commented on #89
Yeah sure!

[2021-08-31 10:32] chicken-biryani commented on #89
Awesome!

You both can co-ordinate on slack!

[2021-08-31 11:05] burpcat commented on #89
Sure @chicken-biryani .. Happy to work with you @AnirudhPanda !

[2021-08-31 11:28] AnirudhPanda opened #90 "Feature Request: In the Readme file of this repo only Linux based commands are used"
### Is your feature request related to a problem? Please describe.

While following the installation of creating the virtual env of the docs I faced this issue
`'source' is not recognized as an internal or external command,
operable program or batch file.` which is understandable as I am on a Windows system.

### Describe the solution you'd like.

I solved this issue by running `env\Scripts\activa

[2021-08-31 11:32] shubhamkarande13 commented on #90
Hey @AnirudhPanda ,
Thanks for opening this issue. You're right, there are no Windows commands in the readme. Could you fork this repo, add those commands in the readme and open a pull request to fix this issue?

[2021-08-31 11:33] AnirudhPanda commented on #90
Yeah! Will do

Thanks

[2021-08-31 13:24] #90 closed

[2021-08-31 13:30] shubhamkarande13 commented on #90
@AnirudhPanda great job! 🎉🎊

Thank you for your contributions!

[2021-09-01 18:57] raghavraj-27 commented on #79
As of now for this particular repo, I have prepared this doc as said in the issue and tried to put a satisfying description for each label.
Please have a look! I think corrections are needed to it. Please comment in the doc.
Doc link -> [https://docs.google.com/document/d/19KBNLnTdr3xCWE60z_5b8iVNpNRaa8S67YRR96pCw8g/edit?usp=sharing](https://docs.google.com/document/d/19KBNLnTdr3xCWE60z_5b8iVNpNRa

[2021-09-02 13:22] chicken-biryani commented on #61
Hello all,

**I am putting the links to the rough drafts for the modifications over here**

@AnirudhPanda  was kind enough to point out what was missing in the documentation.
I took the opportunity to put together a rough draft so that even someone very new can find it easier to understand.

_These are just for the first point. i.e FLINT Core on visual Studio_

Links:
- [Visual Studio Installation

[2021-09-03 17:25] HarshCasper opened #96 "Communication Suggestion: Update the Pull Request Template"
### Describe how we are communicating and why it is not optimal.

The current Pull Request template is highly skewed towards development projects, not for documentation related work. You can view the [existing PR template](https://github.com/moja-global/moja_global_docs/blob/master/.github/PULL_REQUEST_TEMPLATE.md).

We would want it to be updated for the purpose of reporting documentation changes

[2021-09-04 05:57] aornugent commented on #96
IMO - our current PR template is too much. Maybe we can go for something simpler and more general that covers the majority of potential use cases?

PRs need to:
1. describe the changes
2. not break anything
3. close an issue
4. ?

[2021-09-04 05:59] aornugent commented on #79
I like this @raghavraj-27.

Generally fewer labels is better. Maybe we don't need T=1 etc? Please also reconcile with: https://github.com/moja-global/About_moja_global/labels and https://github.com/moja-global/FLINT/labels

[2021-09-04 09:25] shraddhavp commented on #96
@aornugent  and @HarshCasper  would like to contribute to the issue

[2021-09-04 13:14] chicken-biryani commented on #79
Hey, @raghavraj-27 you've done a great job. Must have taken a lot of effort. Thank you for putting in the time.

Here's a suggestion - Maybe, you could add more columns.
1) A column named Eliminate- This will help us decide whether we are supposed to eliminate that label or not.
2)  Two columns namely, FLINT and About moja global. Under this column, you can note down whether the specific repositor

[2021-09-04 15:15] HarshCasper commented on #96
I agree. The CI parts take care if something breaks or not. For the Docs part, it would be necessary to have a look at the rendered docs though, as it makes things easy for us to review. I will make an issue on `About_moja_global` for the PR template update.

[2021-09-06 10:10] raghavraj-27 commented on #79
Thanks @aornugent and @chicken-biryani for the review.
I have tried to reconcile with the FLINT and About-moja-global repo.
I have added two more columns named FLINT and About-moja-global and also a sub column in both of them to show the colors of the respective labels of particular repo. A Eliminate column is also there and I have marked some labels which can be eliminated.

![image](https://user

[2021-09-12 19:22] #89 closed

[2021-09-18 06:49] Ayush7614 opened #103 "Feature Request: Added Moja Global Poster in Readme"
### Is your feature request related to a problem? Please describe.

After the Moja global documentation we have added the moja global poster that looks good

### Describe the solution you'd like.

![image](https://user-images.githubusercontent.com/67006255/133879244-d2b956de-afc4-45e2-953f-387675a75aee.png)
After the Moja global documentation we have added the moja global poster that looks good

#

[2021-10-01 07:41] HarshCasper commented on #103
It is not on priority. We already have the same on the organization README. This adds no value in my opinion.

Please feel free to make another issue on the core contribution part.

[2021-10-01 07:41] #103 closed

[2021-10-01 07:46] HarshCasper opened #104 "Documentation📄: Improve the `CONTRIBUTING.md` for the project"
### What is the current documentation state?

Currently, the existing `CONTRIBUTING.md` leads here: https://github.com/moja-global/About_moja_global/blob/master/CONTRIBUTING.md

We need to have a new `CONTRIBUTING.md` that takes some of the contexts from the existing contributing docs and makes it specific around the areas that we are looking to have contributions for.

### Where is this stated?

[2021-10-01 07:54] HarshCasper opened #105 "Bug🐛: Fixing `alt` tags for the images on the website"
### Describe the bug.

Currently, most of the images have an `alt` tag but we are still lacking some of the corner cases where we would like the images to be accessible to a larger audience. This issue is part of the larger scope where we are looking to improve the accessibility of our documentation for the general audience.

### Describe the steps to reproduce the behavior.

I am using the [WAVE®

[2021-10-01 08:00] HarshCasper opened #106 "Documentation📄: Improve the `Join the moja global` section"
### What is the current documentation state?

Currently, the concerned documentation piece lacks some of the information and context around the new areas that we are working on. We would ideally like to improve this section for better communication and onboard new contributors with confidence,

### Where is this stated?

https://docs.moja.global/en/latest/contact.html

### Why do you want to impro

[2021-10-01 08:07] HarshCasper opened #107 "Documentation📄: Add more documentation on our GitHub Bots"
### What is the current documentation state?

Our existing documentation currently only talks about All-Contributors Bot. We would like to document the other bots we utilize across our projects. It would allow the contributors to have a realistic idea about some of the CI configurations that we utilize for project management across our projects.

### Where is this stated?

https://docs.moja.global

[2021-10-01 08:10] Sukriti-sood commented on #105
Can I work on this issue?

[2021-10-01 08:16] Sukriti-sood commented on #107
Can I work on this issue?

[2021-10-01 09:16] HarshCasper opened #108 "Feature Request: Add LightHouse Benchmarks for the website"
### Is your feature request related to a problem? Please describe.

Currently, we are not tracking the performance of the documentation website. We can use automated benchmarking using LightHouse to achieve the same. It can allow us to generate clean HTML and JSON logs to keep track of the performance including other factors, like accessibility, best practices, SEO and more.

### Describe the solu

[2021-10-01 09:21] HarshCasper opened #109 "Documentation📄: Create a new section `Understanding FLINT`"
### What is the current documentation state?

Currently, all of the FLINT-specific documentation is hosted on the FLINT Wiki which is not accessible for most users. We would like to ideally migrate all of the FLINT specific docs to this documentation site, which should not clash with the development and contributing docs.

### Where is this stated?

https://github.com/moja-global/FLINT/wiki/1.-Moj

[2021-10-01 09:29] HarshCasper opened #110 "Documentation📄: Add examples for `Abbreviations & Acronyms`"
### What is the current documentation state?

Currently, we are developing our documentation style guide. While we have some recommended rules and guidelines to follow, we lack examples. This can lead to loss of accessibility around some parts that we wish to communicate with the readers. Ideally, we would like to fix it.

### Where is this stated?

https://docs.moja.global/en/latest/Documentation

[2021-10-01 09:32] HarshCasper opened #111 "Documentation📄: Add examples for `Articles`"
### What is the current documentation state?

Currently, we are developing our documentation style guide. While we have some recommended rules and guidelines to follow, we lack examples. This can lead to loss of accessibility around some parts that we wish to communicate with the readers. Ideally, we would like to fix it.

### Where is this stated?

https://docs.moja.global/en/latest/Documentation

[2021-10-01 09:34] HarshCasper opened #112 "Documentation📄: Add examples for `Capitalization`"
### What is the current documentation state?

Currently, we are developing our documentation style guide. While we have some recommended rules and guidelines to follow, we lack examples. This can lead to loss of accessibility around some parts that we wish to communicate with the readers. Ideally, we would like to fix it.

### Where is this stated?

https://docs.moja.global/en/latest/Documentation

[2021-10-01 09:39] HarshCasper opened #113 "Documentation📄: Remove outdated @zulipbot documentation"
### What is the current documentation state?

Currently, the documentation states that we need to tag @zulipbot to take up an issue. This particular information is outdated and doesn't represent the current state of the project.

### Where is this stated?

https://docs.moja.global/en/latest/DevelopmentSetup/git_and_github_guide.html#claim-an-issue

### Why do you want to improve the statement?

.

[2021-10-01 09:46] HarshCasper opened #114 "Documentation📄: Improve `Commit message guideline` documentation"
### What is the current documentation state?

Right now, the doc explains the idea around semantic commit messages. However, the whole context is not explained. We would like to add all of the semantic commit messages that we would like the contributor to utilize.

### Where is this stated?

https://docs.moja.global/en/latest/contributing/code_contribution_best_practices.html#commit-message-guidel

[2021-10-01 10:02] HarshCasper opened #115 "Documentation📄: Add more projects to the FAQ section"
### What is the current documentation state?

Currently, the FAQ majorly talks about:

- FLINT
- GCBM
- FLINT Pro

We have been working on new projects, like FLINT-UI, FLINT Reporting, Taswira. You can find them on our GitHub organization and we would like to have some context about them as well.

### Where is this stated?

https://docs.moja.global/en/latest/faq.html

### Why do you want to improv

[2021-10-01 10:03] HarshCasper commented on #105
Please work on the issue already assigned to you.

[2021-10-01 10:05] falguni-k commented on #108
I would like to work on this. Please assign this to me

[2021-10-01 10:08] HarshCasper commented on #108
Thanks for taking it up @falguni-k :rocket:

Please let me know if you need any help :hugs:

[2021-10-01 12:27] manojtummala commented on #112
I would like to do this

[2021-10-01 17:52] Sriram-bb63 commented on #105
I would like to work on this issue

[2021-10-02 04:45] ShaDe2312 opened #117 "Documentation📄: Updating readme regarding python installation"
### What is the current documentation state?

The readme assumes that you have Python & Pip installed on your local machine.
![image](https://user-images.githubusercontent.com/86540850/135703765-7ff3eb17-5b92-4f5a-82cc-6667790d8529.png)

### Where is this stated?

README.md

### Why do you want to improve the statement?

I think it might be a problem as virtualenv & pip are python commands and a b

[2021-10-02 04:46] ShaDe2312 commented on #117
PS: I'd like to be assigned this

[2021-10-02 04:55] ShaDe2312 commented on #106
I'd like to be assigned this

[2021-10-02 06:47] HarshCasper commented on #106
Please let me know if you need any help or assistance on the same. You can alternatively reach out to me on Slack for any questions.

[2021-10-02 06:48] HarshCasper commented on #117
Good catch! This should be a one-line addition.

[2021-10-02 07:12] ShaDe2312 commented on #106
On it!

[2021-10-03 09:04] dazzlerkumar commented on #114
Hey, @HarshCasper , Can I work on this?

[2021-10-03 09:23] HarshCasper commented on #114
Thanks for taking it up! Please let me know if you need any help or assistance.

[2021-10-03 14:19] AnirudhPanda commented on #115
I can do this @HarshCasper

[2021-10-03 16:29] shraddhavp commented on #104
@HarshCasper  would like to start  contributing  to moja global with this PR can you please assign this Issue to me ?

[2021-10-03 16:31] shraddhavp commented on #109
@HarshCasper  would like to work on this issue

[2021-10-03 19:14] AnirudhPanda commented on #115
Is there any particular order shall I follow here @HarshCasper

[2021-10-04 10:03] Samarjeet-singh-chhabra commented on #113
Hey Harsh, Can you tell me what should I update it to, what is our new procedure that I should mention!

[2021-10-04 10:30] HarshCasper commented on #113
Hi @Samarjeet-singh-chhabra :wave:

Thanks for reaching out! I would ideally like to:

- Remove the portions that mention anything about ZulipBot
- Mention that to take up an issue you need to tag a maintainer/issue triager to be assigned for the same
- All further communication would happen on the issue itself

[2021-10-04 10:46] Samarjeet-singh-chhabra commented on #113
Thanks Harsh for assigning, i will be back with updates soon!

[2021-10-04 12:00] ShaDe2312 commented on #106
Hey Harsh.
How do I change the URL from contact to join-moja-global? Also, after which section should I put the content about Documentation Working Groups?

[2021-10-05 06:50] Sin-Sumit commented on #111
Hey, @HarshCasper I'd like to work on this? Please assign me.

[2021-10-05 06:51] Sin-Sumit commented on #117
Hey, @HarshCasper I'd like to work on this? Please assign me.

[2021-10-05 08:38] ShaDe2312 commented on #117
There's a PR solving this issue already, though there are other issues that are up for grabs

[2021-10-05 15:24] Sukriti-sood commented on #107
@HarshCasper It seems there is a bug in merge Conflict watcher as it is not commenting on labeling pull request with merge-conflict.

[2021-10-06 04:59] SanjaySinghRajpoot commented on #110
I would like to work on this issue.

[2021-10-06 05:00] Sin-Sumit commented on #110
@HarshCasper I'd like to work.

[2021-10-08 06:47] #111 closed

[2021-10-08 07:25] #108 closed

[2021-10-09 08:36] #115 closed

[2021-10-09 15:03] #104 closed

[2021-10-09 15:03] #117 closed

[2021-10-10 07:28] Ruchip16 commented on #109
@HarshCasper should I take up this issue?

[2021-10-10 08:15] asmijafar20 commented on #56
I would like to work on this.

[2021-10-11 19:21] King-kay opened #138 "Documentation📄:"
### What is the current documentation state?

some pictures are not displaying in the "Building the FLINT" block

### Where is this stated?

https://github.com/moja-global/moja_global_docs/blob/master/docs/DevelopmentSetup/windows_installation.rst

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Additional context.

_No response_

[2021-10-13 04:26] #109 closed

[2021-10-13 10:09] King-kay commented on #138
https://github.com/moja-global/moja_global_docs/pull/141#issue-757237548.

[2021-10-14 05:10] AnirudhPanda opened #142 "Bug🐛: Responsive Issue between 998px and 1204px"
### Describe the bug.

Overlapping of Navbar Items

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

_No response_

### Screenshots.

![image](https://user-images.githubusercontent.com/66218496/137255633-f4315972-318c-4d0b-91ba-47f2424835ae.png)

### Operating Environment

Windows 10

### Additional context.

_No response_

[2021-10-14 06:03] #142 closed, assigned to nobody

[2021-10-30 08:44] #138 closed

[2021-11-07 11:23] sarthakkundra opened #146 "Documentation📄: Add community website link"
### What is the current documentation state?

The current documentation holds all the information about the community in a docs format.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

The idea is to rather transfer the users to the community website so as to provide a more attractive overview of our community work, in turn making it more likely that they j

[2021-11-12 22:37] #62 closed

[2021-11-15 12:05] #61 closed

[2021-11-29 11:32] aornugent opened #148 "Documentation📄: Add links to project documentation"
### What is the current documentation state?

We have the following project pages:

Project | Documentation Website
-- | --
FLINT UI | https://docs.moja.global/projects/flint-ui/en/latest/
GCBM Chile Data Preprocessing | https://docs.moja.global/projects/GCBM-Chile-Data-Preprocessing-Tools/en/latest/
FLINT Reporting | https://docs.moja.global/projects/flint-reporting/en/latest/

However these are

[2021-11-30 11:41] ishitakeshawani commented on #148
I want to solve this issue.

[2021-12-12 07:45] HarshCasper opened #151 "Bug🐛: Fix broken links"
### Describe the bug.

Run `make linkcheck`:

[code]

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

1. Fix all the broken links (doing in batches is fine).
2. Add a CI action to check for broken links on every push, PR and a cron job.
3. Add relevant docs for users to check out broken links during development process.

### Screenshots.

_No response_

##

[2021-12-13 17:31] #148 closed

[2021-12-14 08:11] SanjaySinghRajpoot commented on #151
I would like to work on this issue.

[2021-12-25 14:00] nilisha-jais opened #153 "User Feedback: Make the page cover the entire screen"
### Describe what you are trying to do and why it is not optimal.

Seems like there is extra blank space in the right side of the [site](https://docs.moja.global/en/latest/) in desktop view
![Screenshot (27)](https://user-images.githubusercontent.com/73216246/147386516-ddf6bcba-f7aa-4beb-8f84-078165b55f12.png)

### Describe the solution you'd like.

Remove the max-width so that it covers the entir

[2021-12-25 16:18] #153 closed

[2022-02-09 15:08] padmajabhol commented on #151
Hi, is someone working on it? If not, I could like to take this up.

[2022-02-09 15:13] arushi-mittal commented on #146
Hi, I'd love to work on this issue if it's still up for grabs!

Just to confirm, this would involve removing [this page](https://docs.moja.global/en/latest/join-moja-global.html#) and adding add [the community page](https://community.moja.global/) as a separate header on [the main documentation page](https://docs.moja.global/en/latest/#moja-global-documentation)? If so, please assign it to me, tha

[2022-02-14 05:10] #151 closed

[2022-02-22 14:06] Rohitrout416 opened #160 "Documentation📄:"
### What is the current documentation state?

The documentation explains various practices to follow for contribution to Moja global repository. But even though MDX has been used in most of the documents, there is no current explanation on MDX.

### Where is this stated?

[https://docs.moja.global/en/latest/contributing/code_contribution_best_practices.html#writing-documentation](https://docs.moja

[2022-03-06 15:15] padmajabhol opened #161 "Docs: Host the python notebooks investigating the different datatypes used in FLINT simulation"
The python notebooks that I recently worked upon can be found here(https://github.com/padmajabhol/LFX-mentorship-progress-tracker/tree/main/FLINT-Datatype). Each of them contains a small description of the data type and instructions on how to open them. They are mainly of five types - JSON, GeoTIFF, Shapefile, CSV, SQL DB.

As suggested by @aornugent, we can use an extension to render them on our

[2022-03-06 15:24] chicken-biryani commented on #161
I have a few questions as well-

1) For the rough work do you think it's okay to make use of GitBook.

"GitBook is free forever for individual use. GitBook gives individuals 10 public and private spaces, custom domains and Git Sync at no cost"

So to edit things out... The navigation etc can be put over here before making it public? And we could go bunch wise instead of one by one?

2) Shall we sw

[2022-03-07 15:08] HarshCasper commented on #161
@chicken-biryani @padmajabhol

I don't see why GitBook is being recommended when we have the entire documentation website setup using Docusaurus. If the requirements are for rough work, why not use HackMD or Google Docs for the purpose?

@padmajabhol — Look over this for your use-case: https://nbsphinx.readthedocs.io/en/0.8.8/
@chicken-biryani — What is the rationale behind switching to Sphinx 4.1

[2022-03-11 10:45] HarshCasper opened #163 "Bug🐛: Docs build fails for Python 3.10"
### Describe the bug.

Currently, the moja global docs build fails for Python 3.10.

### Describe the steps to reproduce the behavior.

1. Clone the repo
2. Create a virtual environment with Python 3.10
3. Install the deps and build the site
4. See the error

### Expected behavior.

The docs build should be successful.

### Screenshots.

Here are the logs:

[code]

### Operating Environment

Windo

[2022-03-11 12:32] aornugent commented on #163
This is reported here, we need Sphinx 4.2.
https://github.com/sphinx-doc/sphinx/issues/9562

[2022-03-11 13:49] #163 closed

[2022-03-13 07:26] SanjaySinghRajpoot commented on #114
I would like to work on this issue.

[2022-03-13 08:39] HarshCasper commented on #114
Hi @SanjaySinghRajpoot

@akashthedeveloper has shown an intent to work on this issue, over Slack. He can let us know if he still plans to work on this issue otherwise I will assign it to you.

[2022-03-13 10:33] akashthedeveloper commented on #114
@HarshCasper I am ready to work on this issue, you can assign me.

[2022-03-13 10:55] Namyalg commented on #161
@aornugent @HarshCasper @chicken-biryani ,
I am working on developing the documentation for the various datatypes, and how they are used in the context of the project. Is there anything else that should be covered? And how will the documentation be presented, will it have separate .md files for each datatype or will it be a part of the jupyter notebooks?

[2022-03-21 00:00] chicken-biryani opened #165 "Small fix in code of conduct"
The code of conduct is hosted over

https://docs.moja.global/en/latest/contributing/coc.html and https://community.moja.global/community/code-of-conduct

To do: Change the email under enforcement section from guy@moja.global to mentorship@moja.global across both versions.

[2022-03-21 09:37] aniketh-varma commented on #165
Hi @chicken-biryani, I would like to work on this issue.

[2022-03-21 09:38] chicken-biryani commented on #165
Hey, @aniketh-varma go ahead!

[2022-03-22 21:01] aniketh-varma commented on #165
Hi, @chicken-biryani I was a bit busy, and could not work on the issue. Sorry for the delay, I will make a PR very soon.

[2022-03-23 11:35] #165 closed

[2022-03-26 04:16] siddhi-244 opened #167 "Documentation📄: The 1st point in readme doesnt follow the correct intendation !"
### What is the current documentation state?

![Screenshot 2022-03-26 094434](https://user-images.githubusercontent.com/69195262/160224333-dfff9056-ea08-4913-a84b-9689a7820c61.png)

### Where is this stated?

_No response_

### Why do you want to improve the statement?

It doesnt look that good , so i want to add proper intendation and make it look organized !

### Proposed Statement

_No response

[2022-03-26 04:16] siddhi-244 commented on #167
i want to work on this issue !

[2022-03-27 14:32] Namyalg opened #168 "Documentation📄: Describe more about raster and vector data provider types"
### What is the current documentation state?

The description about the flint data provider types raster and vector is stated in brief, I would like to add more information about the same

### Where is this stated?

_No response_

### Why do you want to improve the statement?

To make the terms raster and vector more easily understandable, I would like to add more information

### Proposed Stateme

[2022-03-28 04:55] madhhuurrii commented on #160
Hii, is this issue up for grab??

[2022-03-28 14:45] Namyalg opened #170 "Documentation📄: Explain about the standard modules supported by FLINT"
### What is the current documentation state?

The page https://docs.moja.global/en/latest/Understanding-FLINT/moja-flint/modules.html lists the various standard modules the FLINT consists of. There is no explanation given for the 6 modules stated.
The wiki page, https://github.com/moja-global/FLINT/wiki/3.4-Module-Science provides a simple explanation about these modules. Including this in the doc

[2022-03-30 08:09] Namyalg opened #171 "Documentation📄: fix instruction to setup FLINT Example"
### What is the current documentation state?

The current documentation steps of FLINT Example using docker need an update due to the restructuring of the repository.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Additional context.

_No response_

[2022-03-31 11:41] Namyalg opened #175 "Documentation📄: Update instructions to pull images from GHCR"
### What is the current documentation state?

The current documentation pulls the container images from docker hub. There has been a migration to GHCR, and it requires a documentation update

_

[2022-04-05 22:06] aornugent opened #176 "Documentation📄: The FLINT Analysis Handbook"
### What is the current documentation state?

Examples of FLINT analysis typically come with pre-processed input data, but don't necessarily describe how to generate the necessary data inputs or how to customise them to new areas.

### Where is this stated?

The examples on docs.moja.global include a three pool example model, the Rothamsted Soil Carbon model (RothC) and perhaps the Chapman Richard

[2022-04-27 12:11] AayushSaini101 opened #177 "Implementing new docs testing feature using Super Linter"
### Is your feature request related to a problem? Please describe.

The indentation of many pages of the docs is not correct. Refer to this [https://docs.moja.global/en/latest/faq.html](https://docs.moja.global/en/latest/faq.html) page of the documents, and also the HTML and javascript code of the sphinx document is not formatted.

The current identation of the documentation:

![new](https://user-

[2022-05-08 11:54] #161 closed

[2022-05-16 11:28] Namyalg opened #181 "Feature Request: Build a pipeline to test the adherence to documentation style guide"
### Is your feature request related to a problem? Please describe.

Currently, the documentation is reviewed by the SME to ensure technical correctness. However, there is no mechanism existing to verify correctness of the language/expressions used.

### Describe the solution you'd like.

I would like to use the github action, [vale-action](https://github.com/errata-ai/vale-action), on every PR, th

[2022-05-17 23:52] Namyalg opened #183 "Documentation📄: Restructuring documentation structure"
### What is the current documentation state?

The contents of the existing documentation are very verbose. It is challenging for new users to navigate through the documentation and further understand how all the components fit together.

### Why do you want to improve the statement?

I want to solve the above-stated problem to enhance the readability and navigation of the main technical documentat

[2022-05-18 05:07] chicken-biryani commented on #183
@Namyalg

While we're at it, do you think we can change the sphinx theme as well?

We'd just have to change one line in conf. py

`html_theme = "sphinx_rtd_theme"`

To:

html_theme = 'pydata_sphinx_theme'

(After installation ofc...
`pip install pydata-sphinx-theme`)

Or any other theme. The pydata theme is usually used by data science oriented organizations. We can checkout more themes.

What do

[2022-05-18 06:54] Namyalg commented on #183
Yes, @chicken-biryani , I was looking at https://sphinx-themes.org/ for the options we have

[2022-05-21 10:00] Namyalg opened #185 "Feature Request: Feedback funnel"
### Is your feature request related to a problem? Please describe.

Currently, there is no mechanism by which the impact and readability of the docs can be gauged for a general audience.
Those who are well-versed in Version control may raise a Github issue when a change or improvement is needed. However, keeping in mind the diverse ranges of users who visit the documentation, the existing document

[2022-05-22 06:27] #183 closed

[2022-05-25 05:14] Namyalg opened #187 "Documentation📄: Extend schema description for all tables in GCBM input_database"
### What is the current documentation state?

Currently, the documentation describes the schema for 5 tables out of the 41 tables present in the input_database required to run the GCBM simulation.
The tables are documented under GCBM Inputs : https://docs.moja.global/en/master/GCBM/GCBMInputs/InvestigatingGCBMInputs/tables.html

### Why do you want to improve the statement?

The schema description

[2022-06-02 03:39] Namyalg opened #189 "Bug🐛: Broken links in restructured documentation"
### Describe the bug.

Currently, a few hyperlinks are broken. On restructuring the documentation, the URLs of the documentation pages have changed

### Describe the steps to reproduce the behavior.

1. Run `make linkcheck` from the root of the docs folder

It will show the list of links that are broken

### Operating Environment

Windows 10

[2022-06-02 05:30] Namyalg opened #190 "Feature Request: Correct spelling errors using a pre-commit hook"
### Is your feature request related to a problem? Please describe.

Currently, there is no mechanism in place to test the correctness of word spellings.

### Describe the solution you'd like.

I propose to use https://github.com/codespell-project/codespell as a pre-commit hook. `codespell` rectifies the spellings of commonly used words on running `git commit`. Once the spellings are corrected, the

[2022-06-06 14:18] ORKO06 commented on #113
@HarshCasper
Can I work on this issue?

[2022-06-08 18:49] padmajabhol opened #194 "Documentation📄: Add study_area.json to GCBM inputs."
### What is the current documentation state?

The inputs from the GCBM_Demo_Run used for the GCBM API is hosted [here](https://docs.moja.global/en/master/GCBM/GCBMInputs/InvestigatingGCBMInputs/index.html). Though it's missing a JSON file that is pretty important for the run.

You can download the `study_area.json` file from [GCBM_Demo_Run](https://github.com/moja-global/FLINT.Cloud/blob/master/GC

[2022-06-20 10:46] padmajabhol commented on #194
@AayushSaini101 any updates yet?

[2022-06-22 18:20] Namyalg opened #196 "Feature Request: pre-commit hook to check spellings on CI"
### Is your feature request related to a problem? Please describe.

Currently, the pre-commit hook does not run in CI, but rather only when there is a push from the local repositories.

### Describe the solution you'd like.

To ensure the spell-check always runs, the pre-commit hook will be run on every PR

[2022-06-22 18:21] #189 closed

[2022-07-08 09:51] sarahhaggarty commented on #64
After a quick review of the latest Docs, this appears to be resolved.

[2022-07-08 09:51] #64 closed

[2022-07-09 14:01] Crystalsage commented on #187
This seems outstanding. Can I work on this?

[2022-07-09 14:46] Namyalg commented on #187
Yes, you can work on it

[2022-07-10 11:28] #187 closed

[2022-07-24 09:56] sailorworks commented on #194
Hi, I would like to work on it as it is pending for 2 months

[2022-07-26 07:47] rahulsh18 commented on #175
I'd like to work on this

[2022-07-26 13:09] Namyalg commented on #175
Hi @rahulsh18 , you can go ahead!

[2022-07-31 10:33] #196 closed

[2022-07-31 10:33] #190 closed

[2022-08-16 10:28] sailorworks opened #202 "Documentation📄: Table for short forms."
### What is the current documentation state?

The Full Lands Integration Tool (FLINT) is moja global’s flagship software. FLINT is a modular and highly flexible open-source software technology designed to meet the needs of governments, the private sector and other users in measuring, reporting and verifying (MRV) – or forecasting – greenhouse gas emissions and removals from forestry, agriculture a

[2022-08-16 10:30] sailorworks commented on #202
If this issue looks fine, please assign this issue to me.

[2022-08-21 07:05] RamGoel opened #203 "Bug🐛: UI fix of Documentation Heading"
### Describe the bug.

The word "documentation" in Heading on page https://docs.moja.global/en/master/ is hiding when page resized to width<300px.

### Describe the steps to reproduce the behavior.

1. Go to https://docs.moja.global/en/master/
2. Resize window to width<300px.
3. See the word "documentation" in the very first Heading.

### Expected behavior.

It should break to next line when width

[2022-08-21 12:56] #175 closed

[2022-08-23 08:45] Shubhcs01 commented on #203
hey, can I work on this issue?